.animate__backInDown {
    animation: backInDown 500ms ease-in-out;
}
.animate__bounceInUp{
    animation: bounceInUp 500ms ease-in-out;
}
.animate__bounceInLeft{
    animation: bounceInLeft 500ms ease-in-out;
}
.animate__flipInX{
    animation: flipInX 500ms ease-in-out;
}
.animate__rotateIn{
    animation: rotateIn 500ms ease-in-out;
}
.animate__rotateDownLeft{
    animation: rotateDownLeft 500ms ease-in-out;
}
.animate__rollIn{
    animation: rollIn 500ms ease-in-out;
}
.animate__zoomIn{
    animation: zoomIn 500ms ease-in-out;
}
.animate__sideInLeft{
    animation: sideInLeft 500ms ease-in-out;
}
.animate__sideInRight{
    animation: sideInLeft 500ms ease-in-out;
}
.animate__sideOutRight{
    animation: sideInLeft 500ms ease-in-out;
}
